:root{
    --clr-main: #4b33a8;
    --clr-main-light: #837ca1;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-fondo-main: #ffffff;
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado{
    color: var(--clr-main);
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--clr-red);
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    cursor: pointer;
    text-transform: uppercase;
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    gap: 1rem;

}

.carrito-acciones-comprar{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    color: var(--clr-white);
    cursor: pointer;
    text-transform: uppercase;
}


.disabled{
    display: none;
}