@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Estilos generales*/

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #837ca1;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --clr-fondo-main: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Wrapper*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 12rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
    margin: 1rem;
}

.logo:hover {
    transform: scale(1.05) translateZ(-30px);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}


.boton-menu.active {
    background-color: white;
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 white;
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 white;
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}


/*Main*/

main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    width: 100%;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.producto-imagen:hover {
    transform: scale(1.05) translateY(-30px);
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: transform 0.3s ease;
}

.producto-detalles:hover {
    transform: scale(1.05) translateY(-10px);
}

.producto-titulo {
    font-size: 1rem;

}

.producto-agregar {
    border: 0;
    background-color: white;
    color: var(--clr-main);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.bi-github {
    color: white;
    transition: transform 0.3s ease;
}

.header-mobile{
    display: none;
}

.close-menu{
    display: none;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px){
    .wrapper{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside{
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;

    }

    .aside-visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after{
        display: none;
    }

    main{
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;

    }

    .logo{
        width: 100px;
    }

    .open-menu, .close-menu{
        background-color: transparent;
        color: white;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
